<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content>
  <p *ngIf="data.message">{{ data.message }}</p>
  <mat-input-container>
    <input mdInput [placeholder]="data.inputLabel" [(ngModel)]="input">
  </mat-input-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>{{ data.cancelButton }}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="input" class="margin-left">{{ data.okButton }}</button>
</mat-dialog-actions>
